body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.site_background {
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.site_background {
  background-image: url("img/desktop.jpg");
  height: 100%;
}
.site_title {
    position  : absolute; 
    width: 100%;
}
h1 {
    color: white;
    font-size: 24px;
    text-align: center;
}

